*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*GENERICS*/
.container{
    width: 100%;
}
/*UTILITIES*/
.border{
    border: 1px solid black;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.between{
    justify-content: space-around;
}

.A-center{
    align-items: center;
}

.J-center{
    justify-content: center;
}

.white{
    color: white;
}
.white-variant{
    background-color: white;
}

.blu{
    background-color: hsl(209deg 100% 50%);
}
.variant-blu{
    background-color: hsl(210deg 97% 86%);
}

.green{
    background-color: hsl(147deg 56% 87%);
}
.green-variant{
    color: hsl(147deg 50% 55%);
}

.pink{
    background-color: hsl(1deg 96% 91%);
}
.pink-variant{
    color: hsl(359deg 97% 76%);
}

.yellow{
    background-color: hsl(36deg 100% 88%);
}
.yellow-variant{
    color: hsl(36deg 99% 70%);
}

.purple{
    background-color: hsl(242deg 59% 89%);
}
.purple-variant{
    color: hsl(244deg 55% 72%);
}
/*CONTENT*/

/*header*/
.header{
    width: 100%;
}

.header img{
    width: 10%;
    margin: 14px 0px;
}

.header a{
    padding-left: 38%;
}

.header i{
    font-size: 20px;
}

/*squares*/
.square{
    width: 75%;
    border-radius: 18px;
    margin-top: 20px;
    text-align: center;
}
.first-square{
    margin-top: 13%;
    height: 90vh;
    width: 75%;
    border-radius: 18px;
    margin-top: 13%;
}
main h1,p{
    padding: 20px;
}

main h1{
    color: hsl(210deg 91% 51%);
    font-size: 26px;
    padding-top: 30px;
}

main p{
    color:hsl(209deg 31% 50%);
    width: 98%;
    line-height: 28px;
    font-size: 14px;

}

main a{
    text-decoration: none;
    color: white;
    width: 20%;
    padding: 14px 40px;
    border-radius: 25px;
    margin-left: 20px;
}

/*by*/
.by{
    font-size: 80%;
    margin: 30px 0px 50px 0px;
    width: 100%;
}
.line{
    margin-left: 4px;
    border-bottom: 1px solid hsl(244deg 55% 72%); ;
}
/*BIG-SECTION*/
.big-section{
    background-color: hsl(243deg 63% 74%);
    width: 100%;
    height: 200vh;
}

.big-section h1{
    align-self: start;
    margin-top: 70%;
}

.white-variant h1{
    margin-top: 70%;
}
.white-variant{
    text-align: center;
}
.white-variant i{
    color: black;
}
.white-variant a{
    padding: 14px 20px;
    margin: 0px 0px 0px 0px;
    background-color: hsl(241deg 63% 85%);
}
.download{
    width: 100%;
}
